<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Login</h2>
                </div>
                <div class="card-body">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email Address:</label>
                            <input type="email" class="form-control" id="email" formControlName="email"
                            (blur)="onBlur('email')">

                            <div *ngIf="loginForm.get('email')!.touched && loginForm.get('email')!.invalid"
                            class="text-danger">
                        <small *ngIf="login.Form.get('email')!.errors?.['required']">Email is required</small>
                        <small *ngIf="login.Form.get('email')!.errors?.['email']">Email is invalid</small>
                        </div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" formControlName="password"(blur)="onBlur('password')">
                            <div *ngIf="loginForm.get('password')!.touched && loginForm.get('password')!.invalid"
                            class="text-danger">
                        <small *ngIf="loginForm.get('password')!.errors?.['required']">Password is required</small>
                        <small *ngIf="loginForm.get('password')!.errors?.['minlength']">Password must be at least 6 characters long</small>

                        </div>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary" [disabled]="loginForm.inavlid">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
